<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>729926371827-rgi5nvnq7ao959pnsli5n9frto5ipgsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729926371827-rgi5nvnq7ao959pnsli5n9frto5ipgsk</string>
	<key>API_KEY</key>
	<string>AIzaSyDuIPpkBqwsqkp3guV7NOGJTKLQunc-vkg</string>
	<key>GCM_SENDER_ID</key>
	<string>729926371827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macromanager.aedwards</string>
	<key>PROJECT_ID</key>
	<string>macromanager-a346c</string>
	<key>STORAGE_BUCKET</key>
	<string>macromanager-a346c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:729926371827:ios:c05e1ae996fe7de5</string>
	<key>DATABASE_URL</key>
	<string>https://macromanager-a346c.firebaseio.com</string>
</dict>
</plist>